<header>
  <nav>
    <a class="logo" href="{{ site.baseurl }}/"><img alt="REsimplifi Logo" src="{{ site.baseurl }}/images/logo-light.svg" alt="REsimplifi, Inc. Logo"></a>
    <ul>
      {% for item in site.navigation %}
          {% assign class = nil %}
          {% if page.url contains item.url %}
              {% assign class = 'active' %}
          {% endif %}
          <li><a href="{{ site.baseurl }}/{{ item.url }}" class="{{ class }}">{{ item.title }}</a></li>
      {% endfor %}
      <li><a href="https://resimplifi.cloudforce.com/" class="button">Log In</a></li>
    </ul>
  </nav>
</header>
