.about {
  background: url("images/retail2.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;

  h1 {
    font-size: 4em;
  }

  h2 {
    color: $steel-blue;
    font-size: 2em;
    font-weight: bold;
  }

  p {
    text-align: justify;;
  }

  img {
    border: none;
  }

  section {
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
  }

  article {

    margin: 2em auto;
    width: 100%;
  }

}

.team {
  display: block;

  h1 {
    text-align: center;
  }

  .members {
    text-align: center;

    img {
      border-radius: 50%;
      margin-bottom: 1em;
    }

    p {
      margin-top: 1em;
    }

    .name {
      text-transform: uppercase;
      font-size: 1.5em;
      display: block;
      color: $steel-blue;

    }

    .title {
      font-weight: bold;
    }
  }



}
