body {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  color: $charcoal;
  overflow-x: hidden;
  border: 2px solid $steel-blue;

  @media (min-width: 600px) {
    width: 95%;
    max-width: 1200px;
  }
}

$fendersblue: #165578;

em {
  text-decoration: underline;
}
hr {
  border: none;
  height: 2px;
  color: $charcoal;
  background-color: $charcoal;
  margin: 2em 0;
}

p {
  font-size: 1.3em;
  margin: 1.5em 0;
}

h1 {
  font-size: 2.8em;
  color: $steel-blue;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
  color: $pumpkin;
  margin: 0.5em 0;
}

section.col-1 { // single column section
  display: block;
  text-align: center;
}

section {  // 2 column section (default)
  display: flex;
  flex-direction: column;
  margin: 1em;

  @media(min-width: 600px) {
    flex-direction: row;
  }



  img {
    width: 100%;
    object-fit: cover;
    border: 2px solid $lightGray;
    padding: 3px;

    &.no-border {
      border: none;
    }
  }

  .lighten {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2em;
  }

  article {
    margin: 1em 0;

    &.centered {
      margin: auto 1em;

      @media(min-width: 600px) {
        margin: auto 3em;
      }
    }

    @media(min-width: 600px) {
      width: 50%;
      margin: 1em;
    }
  }
}

section.col-3 {

  flex-wrap: wrap;
  align-items: stretch;

  article {
    margin: 1em auto;

    p {
      margin-bottom: 0.5em;
    }

    @media(min-width: 600px) {
      width: calc(50% - 2em);
    }

    @media(min-width: 850px) {
      width: calc(33% - 2em);
    }

  }

}

.svg-icon, svg {
  fill: $steel-blue;
}

.features img, img.feature {
  border: 2px solid $lightGray;
  padding: 3px;


  @media(min-width: 600px) {
    object-fit: cover;
    height: 20vw;
  }
}

@media(max-width: 599px){
  .flex-order-1 {
    order: 1;
  }

  .flex-order-2 {
    order: 2;
  }
}

.lighten.full-width-bar {
  width: calc(100% + 8em);
  margin-left: -4em;
  margin-right: 0em;
  padding: 2em 4em;
}
