body {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  width: 95%;
  margin: 0 auto;
  color: $charcoal;
}
hr {
  border: none;
  height: 2px;
  color: $charcoal;
  background-color: $charcoal;
  margin: 2em 0;
}

p {
  font-size: 1.3em;
  margin: 1.5em 0;
}

h1 {
  font-size: 2.8em;
  color: $steel-blue;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

section.col-1 { // single column section
  display: block;
  text-align: center;
}

section {  // 2 column section (default)
  display: flex;
  //flex-wrap: wrap;

  margin: 2em;

  img {
    width: 100%;
  }

  article {
    width: 50%;
    margin: 2em;
  }
}

section.col-3 {

  article {
    // width: calc(33% - 4em);
    // min-width: 200px;
    margin: 2em;
  }

}
