a.button {
  display: inline-block;
  text-decoration: none;
  color: $steel-blue;
  border: 2px solid $steel-blue;
  padding: 5px 20px;
  margin: 1em auto;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.buttons {
  max-width: 350px;
  margin: 2em auto;

  a.big-button + a.button {
    margin-left: 0;

  }

  a.big-button + a.button + a.button {
    margin-right: -0.32em;
  }
  a.button {
    width: 48%;
    text-align: center;


    &.big-button {
      width: 100%;
      padding: 15px 30px;
      text-align: center;
      margin-bottom: 0;
      font-size: 1.8em;
      margin-right: -0.32em;
    }
  }
}

a.button:hover {
  background-color: $steel-blue;
  color: $bright-color;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
a.button + a.button {
  margin-left: 1em;
}
