.contact {

  background: url("images/warehouse_edit.jpg");
  background-size: cover;
  background-position: center;

  section {
    max-width: 1024px;
  }

  article {
    margin: auto 1em;
    //background-color: transparentize(#fff, .5);

  }
}
