footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e7e8;
  padding-top: 2em;

  .logo img {
    height: auto;
  }

  section {
    margin: 1em 0;
    align-items: center;

    &.signup {
      a {
        display: block;
        height: 100%;
        margin-bottom: 1em;
      }

      form {
        margin-left: 1em;
        display: block;
      }
    }

    &.social {
      display: inline-block;

      i {
        border: 2px solid #e6e7e8;
        //transition: border .2s;
      }

      i:hover {
        border: none;
        //transition: border .2s;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        font-size: 1.5em;
        padding: 20px;
        color: $steel-blue;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li + li {
      border-left: 1px solid $steel-blue;
    }
  }

  .copyright {
    display: block;
    line-height: 3em;
    width: 100%;
    align-items: flex-end;
    margin: 0;
    background-color: $steel-blue;
    height: 3em;
    text-align: center;
    color: $bright-color;

    p {
      margin: 0;
    }
  }

}
