header {
  display: flex;
  background-color: $steel-blue;
  color: $bright-color;
  height: 60px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  a.logo {
    display: inline-block;
    background-image: url(../images/logo-light.svg);
    height:37px;
    width: 100px;
  }

  ul {

    li {
      display: inline-block;
      line-height: 100%;

      a {
        padding: 5px 10px;
        text-decoration: none;
        color: $bright-color;
        padding: 5px 20px;
        margin: 0 auto;
        font-size: 1em;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }

    }

  }
}



nav ul li a.button {
  color: $bright-color;
  font-size: 1em;
  border: 2px solid $bright-color;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
nav ul li a.button:hover {
  background-color: $bright-color;
  color: $steel-blue;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
}
