.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/hero.png");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
  text-align: center;
  margin: 0;
  padding: 1em;

  h1 {
    width: 100%;
    font-size: 9vw;
    margin: 0;
  }

  h2 {
    width: 100%;
    font-size: 1.2em;
    color: $dark-color;
    margin: 1em 0;
  }

}
