.hero {
  background: url("images/hero.png");

}

.about, .contact, .thanks {
  min-height: calc(100vh - 60px - 290px);
}

.hero {
  min-height: calc(100vh - 60px);
}

.hero, .about, .contact, .thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  text-align: center;
  margin: 0;
  padding: 1em;

  h1 {
    width: 100%;
    font-size: 9vw;
    margin: 0;

    @media(min-width: 600px) {
      font-size: 6em;
    }
  }

  h2 {
    width: 100%;
    margin: 1em 0;
    color: $charcoal;
    font-size: 1.35em;
    line-height: 1.5em;
  }

  .button {
    padding: 15px 60px;
    background-color: transparentize(#fff, 1);
  }

}
